@import './layout.scss';
@import './margin.scss';
@import './padding.scss';
@import './size.scss';

.h100 {
  height: 100%;
}

.h90 {
  height: 90%;
}

.h80 {
  height: 80%;
}

.w100 {
  width: 100%;
}
.w80 {
  width: 80%;
}
