// margin-tom
.mt1 {
  margin-top: 1px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

// margin-right
.mr1 {
  margin-right: 1px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mr40 {
  margin-right: 40px;
}

.mr80 {
  margin-right: 80px;
}

// margin-bottom
.mb1 {
  margin-bottom: 1px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

// margin-left
.ml1 {
  margin-left: 1px;
}

.ml5 {
  margin-left: 5px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}

.ml15 {
  margin-left: 15px;
}

.ml30 {
  margin-left: 30px;
}

.ml80 {
  margin-left: 80px;
}

// 上下左右简写
.m1 {
  margin: 1px;
}

// 上下、左右简写
.mm1 {
  margin: 1px 1px;
}

// 自由组合
.mt1mb1 {
  margin-top: 1px;
  margin-bottom: 1px;
}
.margin-tb100 {
  margin: 100px 0;
}

.margin-lr50 {
  margin: 0 50px;
}

.margin-lr100 {
  margin: 0 100px;
}
