// padding-top
.pt1 {
  padding-top: 1px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}

// padding-right
.pr1 {
  padding-right: 1px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.pr40 {
  padding-right: 40px;
}
.pr50 {
  padding-right: 50px;
}

// padding-bottom
.pb1 {
  padding-bottom: 1px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb50 {
  padding-bottom: 50px;
}

// padding-left
.pl1 {
  padding-left: 1px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pl40 {
  padding-left: 40px;
}
.pl50 {
  padding-left: 50px;
}

// 上下左右简写
.p1 {
  padding: 1px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

// 上下、左右简写
.pp1 {
  padding: 1px 1px;
}

// 自由组合
.pt1pb1 {
  padding-top: 1px;
  padding-bottom: 1px;
}
.padding-lr50 {
  padding: 0 50px;
}
